h1 {
  color: red;
}
h4 {
  font-style: oblique;
  font-weight: bold;
}
strong {
  color: red;
}
em {
  color: red;
}
.box-class {
  border: 2px solid blue;
  padding: 4px;
  margin: 8px;
}
.images {
  columns: 300px;
>>>>>>> CascadingPractice_animaleShelter
}
