h1 {
  color: red;
}
h4 {
  font-weight: bold;
}
strong {
  color: red;
}
em {
  color: red;
}
.box-class {
  border: 2px solid blue;
  background-color: red;
}
.column {
  width: 300px;
  float: left;
  margin: 5px;
}
.column1{
  width: 70%;
  float: left;
  background-color: lightgreen;
}
.column2{
  width: 30%;
  float: right;
  background-color: lightblue;
}
.column img {
  width: auto;
}
.header {
  padding: 3px;
  background-color: lightgrey;
}
.toolbar{
  padding: 1px;
  background-color: pink;
}
.mainpage{
  margin: 0 2% 0 2%;
}
body{
  background-color: grey;
  margin: 0 0 0 0;
}
