h1 {
  color: red;
}
h4 {
  font-style: oblique;
  font-weight: bold;
}
strong {
  color: red;
}
em {
  color: red;
}
.box-class {
  border: 2px solid blue;
  padding: 4px;
  margin: 8px;
}
.column {
  width: 300px;
  float: left;
  margin: 5git bra
  px;
}
.column img {
  width: auto;
}
body {
  style: background-color: grey;
}
